<% flash.each do | name, msg | %>
	<div class="alert alert-warning alert-dismissible">
		<button class="close" ata-dismiss="alert">
			<i class="glyphicon glyphicon-remove-circle" > </i>
</button>
<%= content_tag(:div, msg) %>
	</div>
<% end %>